<% if user_signed_in? %>
<div class="span8">  
  <div>
	<h3 class="muted bordered">Active Challenges</h3>
	</div>
	<% if @challenges.any? %>
		<ol class="challenges">
			<%= render partial: 'challenges/single_challenge', collection: @challenges %>
		</ol>
		<div class="pagination-centered">
		<%= will_paginate @challenges %>
		</div>
	<% else %>
	<br/>
	<h4 class="muted center">Oh my! You don't have any active challenges.</h4>
	<% end %>
</div>
<aside class="span4">
	<div>
	<h3 class="muted bordered">New Challenge</h3>
		<%= render 'challenges/form' %>
	</div>
</aside>
<% else %>
	<div class="span12">
	<div class="center hero-unit">
		<h1 class="text-center">Welcome to Thirty</h1>
		<h3 class="text-center muted">
		Track and annotate your personal time limited challenges.
		</h3>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
	</div>
<% end %>



