// import the CSS framework
@import "bootstrap";
@import "bootstrap-responsive";

/* universal */
.control-group, .field_with_errors, .status, .form-inputs {
margin-top: 20px;
}

html {
	overflow-y: scroll;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.smallertext {
  font-size: 13px;
  color: $grayLight;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  
}

.bordered {
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  margin-right: 4px;
  @include box_sizing;
}


input {
  height: 30px !important;

}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* challenges */

.challenges {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }


}

.challdefault {

  li {
    padding: 0 0 0 0;
    border-bottom: none;
  }
  a {
    font-size: 1.25em;
    font-weight: bold;
  }
}

.progress {
    margin-bottom: 10px;
    margin-top: 10px;
  }


.content {
  display: block;
}
.label {
  margin-right: 10px;
}
.badge {
  float: right;
}

.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}

.label-inverse {
background-color: #6E6E6E;
}

.progress-danger .bar, .progress .bar-danger {
background-image: linear-gradient(to bottom, #6E6E6E, #AAAAAA);
}

.progress-success .bar, .progress .bar-success {
background-image: linear-gradient(to bottom, #8C8C8C, #AAAAAA);
}

aside {
  display: block;

  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


/* wysihtml5 colors */
.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-color-orange {
  color: orange;
}

.popover {
    max-width: 800px;
    width: auto;
}

.bootstrap-select.btn-group .btn .filter-option {
    left: 6px;
}